tmp/
bin/
build/
build_autotests/
.pio/
install
source/config/*
*.app
*.desktop
*.user
*.log
!.gitignore

#IDE
CMakeLists*
cmake-build-*/
.idea/
.idea
.vscode/

.DS_Store
.clangd/
.*.swp
*.map
__pycache__/
last_graph.dat
.pytype/

